body{
    font-family: 'Noto Sans JP', "游ゴシック Medium", YuGothic, YuGothicM, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro",
     メイリオ, Meiryo, sans-serif;
     margin: 0 auto;
     width: 1240px;
     color: #3E3A39;
     font-weight:300;


}

.sect_01{
height: 200px;
}
.header{
    background-image:url( "oasis21_02.jpg");
    width: 1240px;
    background-size: cover;
    height: 90px;
    margin: 0px auto;
}

.header_f{
    width: 300px;
    margin: auto;
    font-weight:lighter;
    padding-top: 30px;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing:3px;
    font-size: 30px;
}

.f_con_name{
    width: 1240px;
    margin:0 auto;
    height: 50px;
    line-height: 1.4;
    border-bottom: 1px solid #BDBEBE;
}


.f_name{
 width: 90px;
margin: auto;
margin-top: 20px;
font-size: 1rem;
font-weight: lighter;
color: #3E3A39;
}

.sect_02{
    display:flex;
    margin-top: 50px;
}
.ziko{
    position: relative;
    width: 210px;
    height:680px;
    border-right: 1px solid #BDBEBE;


}
.ziko_name{
    font-size: 1.8rem;
    font-weight: lighter;
    margin-bottom: 0px;
    margin-top: 0px;
    color: #3E3A39;
}

.kana{
    margin-top: 5px;
    font-size: 15px;
    width: 200px;
}

.eigo{
    position: absolute;
    bottom: 0;
    right: 25px;
    font-size: 30px;
    letter-spacing: 0.2em;
    white-space: nowrap;
    text-align: right;
    width: auto;
    transform: rotate(90deg);
    transform-origin: 100% 0;
    color: #838080;
    font-family: 'Roboto Condensed', sans-serif;
}

.dt{
    color: #17c907;
}

.pic{
    margin-left:30px;
    margin-top: 0px;
    margin-right: 40px;
    width: 530px;
    height: 600px;
}

p.pic img{
    width: 530px;
    height: 600px;
}

.come{
    border-bottom: 1px solid #BDBEBE;
   font-size: 25px;
}

.come_con{
    height: 350px;
}

.come_p{
    font-size: 19px;
    margin: 0 auto;
    margin-top: 30px;
}

.p_p{
    margin-top: 0px;
}

.p_pp{
    line-height:40px
}

.inst_con{
    margin-top: 40px;
}

.inst{
    border-bottom: 1px solid #BDBEBE;
    color: coral;
    font-size: 25px;
}

.p_inst{
font-size: 20px;
}